
config.json
.idea/FCFB-Score-Bot.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/vcs.xml
.idea/modules.xml
*.xml
*.pyc
*.pyc
FCFBRollCallBot-2d263a255851.json
GazRg-BoldItalic.ttf
